ejercicio1.exe 
ejercicio2.exe
ejercicio3.exe
ejercicio4.exe
ejercicio5.exe
ejercicio6.exe
ejercicio7.exe
ejercicio8.exe
ejercicio9.exe
ejercicio10.exe
ejercicio11.exe
ejercicio12.exe
ejercicio13.exe
ejercicio14.exe